* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    scroll-behavior: smooth;
}

/*nav bar*/

.nav {
    background-color: #2e3b48;
    color: #e5d3c9;
    
}

.nav_container {
    padding:10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 2;
    background-color: #2e3b48;
}

.nav_left {

    display: flex;
    flex-direction: column;
    
}

.nav_left p {
    line-height: 2;
}

.nav_right {

    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.nav_right a {
    color:#e5d3c9;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    

}



/*About Sectio*/

.main_section {

    padding: 60px 60px;
    background-color: #2e3b48;
    color: #e5d3c9;
}

.main_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.main_container h1 {

    font-size: 110px;
    color: #e4edee;
    text-align: center;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #e5d3c9;
    padding-top: 30px;;
    padding-bottom: 30px;
    margin-bottom: 32px;

}

.main_content {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 700px;
}

.main_text {
    padding-right: 20px;

}

.main_text h2 {

    font-size: 48px;
    line-height: 1.5;
    margin-bottom: 32px;
    text-align:center;

}

.main_text p {

    line-height: 2.3;

}

.main_text a {

    color: #e5d3c9;
    text-align: center;

}

.main_image {

    display: flex;
    justify-content: center;

}

.main_img {

    width: 420px;
    height: 610px;
    border-radius: 20px;
    box-shadow: 0 0 2em #e5d3c9;

}

/*Approach CSS */

.approach {

    background-color: #2e3b48;
    color: #2e3b48;
    position: relative;
}

.approach_container {

    background-color: #e4edee;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 60px;
}

.approach_grid {

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 700px;
}

.approach_container h1 {

    font-size: 50px;
}

.approach_left {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 50px;
}

.approach_content {

    display: flex;
    align-items: flex-start;
}

.functionality_icon {

    width: 500x !important;
    height: 70px !important;
}

.collaboration_icon {

    width: 70x !important;
    height: 70px !important;
}

.userexperience_icon {

    width: 70px !important;
    height: 70px !important;
}

.approach_content img {

    margin-right: 50px;
}

.approach_desc h2 {

    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.approach_desc p {

    line-height: 2;
    font-size: 1.5rem;
}

/* Approach Media Quieres */

@media screen and (max-width: 768px) {

    .approach_grid {

        grid-template-columns: 1fr;

    }

    .approach_container h1 {

        text-align: center;

        margin-bottom: 80px;

    }

}

@media screen and (max-width: 468px) {

    

}

/*portfolio css*/

.portfolio {

    background-color: #2e3b48;

    color:#e5d3c9;

}

.portfolio_container {

    padding-top: 100px;

    padding-bottom: 100px;

    padding-left: 60px;

}

.portfolio_container h1 {

    font-size: 110px;

    color: #e4edee;

    -webkit-text-fill-color: transparent;

    -webkit-text-stroke-width: 2px;

    -webkit-text-stroke-color: #e5d3c9;

    margin-bottom: 20px;

}

.portfolio_main {

    display: flex;

    flex:content ;

}

.portfolio_right {

    padding:20px;

}

.portfolio_right h2 {

    margin-bottom: 40px;

    font-size: 30px;

}

.portfolio_right p {

    margin-bottom: 50px;

    line-height: 2.5;

}

.portfolio_right a {

    color:#e5d3c9;

    text-decoration: none;

}

.portfolio_projects {

    display: flex;

    flex-direction: row;

    justify-content: center;

    padding: 32px 64px;

    

}

.portfolio_one {

    flex-direction: column;

    position: relative;

    width: 80%;

}

.text-block-workone {

    position: absolute;

    top: 20px;

    left: 20px;

    background-color-color: #e5d3c9;

    color: #2e3b48;

    padding:20px;

    border-radius: 10px;

}

.portfolio_two {

    position: relative;

    width: 20%;

}

.text-block-worktwo{

    position: absolute;

    top: 20px;

    left: 20px;

    background-color-color: #e5d3c9;

    color: #2e3b48;

    padding: 20px;

    border-radius: 10px;

}

.portfolio_projects img {

    padding: 0 8px;

    width:100%;

    height: 100%;

    border-radius: 10px;

}

.portfolio_projects img:hover {

    box-shadow: 0 0 10rem #e5d3c9;

}

/*Portfolio Media Queries*/

@media screen and (max-width: 1368px) {

    .portfolio_projects {

        flex-direction: column;

    }

}

@media screen and (max-width: 768px) {

    .portfolio {

        padding: 30px;

    }

    .portfolio_container h1 {

        font-size: 70px;

    }

    .portfolio_main {

        grid-template-columns: 1fr;

    }

    .portfolio_container {

        padding-left: 0px;

    }

    .portfolio_right {

        margin-bottom: 60px;

    }

    .text-block-workone {

        display: none;

    }

    .text-block-worktwo {

        display: none;

    }

}

@media screen and (max-width: 468px) {

    .portfolio {

        padding: 10px;

    }

    .portfolio_container h1 {

        font-size: 40px;

    }

}

/*Contact CSS*/

.contact {

    display: flex;

    align-items: center;

    background-color: #2e3b48;

    padding: 100px 0;

}

.contact_bar {

    background-color: #e5d3c9;

    height: 80px;

    width: 68%;

    color: #2e3b48;

    display: flex;

    justify-content: flex-end;

    align-items: center;

}

.contact_bar img {

    margin-right: 20px;

}

.contact_bar p {

    margin-right: 20px;

    font-weight: 700;

}

.contact_bar span {

    margin-right: 40px;

}

.contact h1 {

    margin-left: 100px;

    font-size: 40px;

    color: #e5d3c9;

}

.email_icon_img {

    width: 50px !important;

    height: 50px !important;

}

/*Contact Media Queries*/

@media screen and (max-width: 768px) {

    .contact {

        flex-direction: column;

    }

    .contact_bar {

        width: 100%;

        justify-content: center;

    }

    .contact_bar img {

        margin-left: 16px;

        margin-right: 16px;

    }

    .contact_bar p {

        margin-right: 16px;

    }

    .contact_bar span {

        font-size: 16px;

    }

    .contact h1 {

        margin-left: 0;

        margin-top: 32px;

        font-size: 32px;

    }

}
/*------------------------------------------------- */
/*Nav Media Queries*/

@media screen and (max-width:768) {

    .nav_container {
        padding: 60px 24px;
        grid-template-columns: 1fr 1fr;
    }

    .nav_right {
        flex-direction: column;
    }

    /*About Section Media Queries*/
    .main_section {
        padding: 30px;
    }

    .main_content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .main_image {
        flex-direction: column;
        margin-top: 40px;
        flex-shrink: 2;
    }

    .main_container h1 {
        font-size: 70px;
    }
}

@media screen and (max-width: 468px) {

    .nav_right {
        padding: 0 16px;
        display: flex;
        flex-direction: column;
    }
    /*About Section Media Queries*/

    .main_section {
        background-color: #2e3b48;
        width: 100%;
    }    
    .main_container h1 {
        margin-top: 30px;
        font-size: 4rem;
    }
    .main_text h2 {
        font-size: 2rem;
    }
    .main_text p {
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
        line-height: 1.2;
    }

    .main_content {
        width:100%;
        display: flex;
        flex-direction: column;
    }
    .main_img {
        margin-top: 30px;
        width: 100%;
        height: 100%;
    }
    /*approach section media queiries*/

    .approach_container {
        margin: 0px;
        padding: 20px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .approach_grid {
        display: flex;
        flex-direction: column;
    }

    .approach_container h1 {
        text-align: center;
        margin-bottom: 20px;
        padding-right: 20px;
    }

    .approach_left {
        padding: 0 24px;
    }

    .approach_content {
     margin-top: 40px;
     font-size: 1.5rem;
     padding-right: 20px;
    }

    .approach_content img {
        display: none;
    }




}

